<h1>Perfil do <%= @user.email %> </h1>

<h2>Tweets (<%= @user.tweets.count %>)</h2>

<h3><%= @user.followers.count %> seguidores</h3>
<h3><%= @user.following.count %> seguindo</h3>

<% if current_user.following? @user %>
	<%= link_to 'Deixar de seguir', relationship_path(@user), method: :delete %>
<% else %>
	<%= link_to 'Seguir', relationships_path(id: @user.id), method: :post %>
<% end%>

<% if @user.tweets.empty? %>
	<p>Usuário ainda não tem tweets</p>
<% else %>
	<ul>
		<% @user.tweets.each do |tweet| %>
			<li> <%= tweet.content %> </li>
		<% end %>
	</ul>
<% end %>